
.map{
    height: 100vh;
    width: 100%;
    position: relative;
}

.map .map-buttons{
    position: absolute;
    width: 50%;
    height: 30%;
    z-index: 9999;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateX(-500px);
}

