*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.map{
    height: 100vh;
    width: 100%;
    position: relative;
}

.map .overlay-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    z-index: -1;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.map .map-buttons{
   
   /* From https://css.glass */
   backdrop-filter: blur(2px) saturate(124%);
   -webkit-backdrop-filter: blur(2px) saturate(124%);
   background-color: rgba(255, 255, 255, 0.6);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border: 1px solid rgba(209, 213, 219, 0.3);
}

.oks{
    
    background-color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.pry-btn{
    margin: 1px;
    border: 0.5px solid rgb(238, 164, 164);
    padding: 2px 15px 2px 15px;
    background-size: 10px;
    background-color: rgb(255, 255, 255); 
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
    color: rgb(105, 103, 103);
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}