<div class="main">
  <div class="map-container">
    <div class="map-frame">
      <div id="map" style="background-color: black;">
        <div class="leaflet-top leaflet-right">
          <mat-label style="
            font-size: 13px;
            font-weight: bold;
            border-radius: 5px;
            padding: 5px;
            color: rgb(226 232 240);
            background-color: rgb(51 65 85);
            margin-right: 50px;">Click on a point to view Details, doubleclick to view Summary</mat-label>
        </div>
      </div>
    </div>

  </div>
  <div class="scroll" style="margin: 0;">
    <p style="text-align: center;font-weight: 100;font-size: x-large;margin-top: 5%;">
      འབྱོན་པ ལེགས་སོ།།
    </p>
    <h3 style="text-align: center; font-weight: 100; ">Red Building Dashboard | {{ dzongkhag }} </h3>

    <div style="display: flex; flex-direction: row; padding: 0;justify-content: center;">
      <mat-card style="
                  border-top-right-radius: 0.125rem;
                  border-bottom-right-radius: 0.125rem;
                  align-items: center;
                  justify-content: 
                  center;padding-bottom: 0;
                  background-color: rgb(249 250 251);
                  ">
        <p style="font-size: small;">Total Cases</p>
        <h1 style="
                  color: rgb(51 65 85);
                  font-weight: bolder;">
          {{totalCases}}
        </h1>
      </mat-card>
      <mat-card style="
                  border-top-left-radius: 0.125rem;
                  border-bottom-left-radius: 0.125rem;
                  align-items: center;
                  justify-content: 
                  center;padding-bottom: 0;
                  background-color: rgb(226 232 240);
                  ">
        <p style="font-size: small;">Total HotSpot Building</p>
        <h1 style="color: #DE3163; font-weight: bolder;">{{totalRedBuildings}}</h1>
      </mat-card>
    </div>


   <div style="display: flex; justify-content: center; margin-top: 10%; cursor: pointer;">
    <button class="download-kml" (click)="downloadKml()" >
      Download Red Buildings as KML
    </button>

   </div>
    <div class="search-dzongkhag-container">
      <div class="select-dropdown">
          <select class="custom-select" [(ngModel)]="searchDzongkhagId">
              <option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id"> {{ dzongkhag.name }} </option>
            </select>
        </div>

        <div class="search-container" (click)="renderCasebyDzongkhag()" >
          <img src="../../assets/search.png" alt="" style="height: 30px;">
        </div>

     </div>
    <!-- <form [formGroup]="zoneForm" class="zoneform">
      <mat-form-field class="justifier" style="padding: 0%;margin: 0%;">
        <mat-label>Dzongkhag</mat-label>
        <mat-select #dzongkhag formControlName="dzongkhagControl" name="dzongkhag"
          (selectionChange)="getZoneList(dzongkhag.value)" required>
          <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">
            {{dzongkhag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="justifier" style="padding: 0%;margin: 0%;">
        <mat-label>Thromdes</mat-label>
        <mat-select #zone formControlName="zoneControl" name="zone" (selectionChange)="getSubzoneList(zone.value)">
          <mat-option *ngFor="let zone of zones" [value]="zone.id">
            {{zone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="justifier " style="padding: 0%;margin: 0%;">
        <mat-label>Zones</mat-label>
        <mat-select formControlName="subZoneControl" name="subZone">
          <mat-option *ngFor="let subZone of subZones" [value]="subZone.id">
            {{subZone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="zoneSearch()" style="width : 100%;">Go To Selected</button>
    </form> -->
    <div *ngIf="showBuildingInfo" class="buildingDetails">
      <div>
        <p style="font-weight: 400; font-size: large;">
          Building Details
        </p>
        <table style="width:100%;">
          <tr>
            <th class="table-header">Building ID</th>
            <td>{{buildingId}}</td>
          </tr>
          <tr>
            <th class="table-header">Building Use</th>
            <td>{{buildingUse}}</td>
          </tr>
          <p>
            Owner Details
          </p>
          <tr>
            <th class="table-header">Name</th>
            <td>{{nameOfBuildingOwner}}</td>
          </tr>
          <tr>
            <th class="table-header">Contact</th>
            <td>{{contactOwner}}</td>
          </tr>
          <tr>
            <th class="table-header">Total Units</th>
            <td>{{length}}</td>
          </tr>
        </table>
      </div>

      <div class="caseDetails">
        <p style="font-weight: 400; font-size: large;">
          Case History
        </p>
        <div style="
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: center;
              width: 95%;
        ">
          <div class="caseCard" *ngFor="let case of redBuildingCases">
            <p >
              Date Recorded: <span>{{ parseDate(case.date) }}</span>
            </p>
            <p>
              Cases: <span style="font-size: x-large; margin:0;">{{ case.numCases }}</span>
            </p>
            <p style="word-break: break-all;">
              Remarks:{{ case.remarks }}
            </p>
            <h4 *ngIf="case.status === 'ACTIVE'" style="color: #DE3262;">
              Status: Active
            </h4>
            <p *ngIf="case.status === 'INACTIVE'" style="color: gray;">
              Status: Active
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>