<div class="main">
  <div class="map-container">
    <div class="map-frame">
      <div id="map" style="background-color: black;">
        <div class="leaflet-top leaflet-right">
          <mat-label style="
            font-size: 13px;
            font-weight: bold;
            border-radius: 5px;
            padding: 5px;
            color: rgb(226 232 240);
            background-color: rgb(51 65 85);
            margin-right: 50px;">Click on a point to view Details, doubleclick to view Summary</mat-label>
        </div>

        <div class="leaflet-bottom leaflet-right">
          <button style="
          width: 42px;
          border-radius: 23px;
          height: 42px;
          background: #ffffffa3;
          margin-bottom: 20px;
          border: none;" value="Cancel" class=" span3 leaflet-control" (click)="getMyLocation()">
            <mat-icon style="color: blue;">location_searching</mat-icon>
          </button>
      </div>
      </div>
    </div>

  </div>
  <div class="scroll" style="margin: 0;">
    <p style="text-align: center;font-weight: 100;font-size: x-large;margin-top: 5%;">
      འབྱོན་པ ལེགས་སོ།།
    </p>
    <h3 style="text-align: center; font-weight: 100; ">Red Building Dashboard | {{ dzongkhag }} </h3>
    <div style="display: flex; flex-direction: row; padding: 0;justify-content: center;">
      <mat-card style="
                  border-top-right-radius: 0.125rem;
                  border-bottom-right-radius: 0.125rem;
                  align-items: center;
                  justify-content: 
                  center;padding-bottom: 0;
                  background-color: rgb(249 250 251);
                  ">
        <p style="font-size: small;">Total Cases</p>
        <h1 style="
                  color: rgb(51 65 85);
                  font-weight: bolder;">
          {{totalCases}}
        </h1>
      </mat-card>
      <mat-card style="
                  border-top-left-radius: 0.125rem;
                  border-bottom-left-radius: 0.125rem;
                  align-items: center;
                  justify-content: 
                  center;padding-bottom: 0;
                  background-color: rgb(226 232 240);
                  ">
        <p style="font-size: small;">Total HotSpot Building</p>
        <h1 style="color: #DE3163; font-weight: bolder;">{{totalRedBuildings}}</h1>
      </mat-card>

      
    </div>


    <!-- <div style="display:flex; gap:2%; padding-left:5%; padding-right:5%;justify-items:center;width: 100%;">
      <div>
        <p> Total Red Chiwogs: {{ redChiwogs.length }}</p>
         <li *ngFor="let chiwog of redChiwogs" >
            {{ transformChiwogName(chiwog) }}
         </li>
       </div>
      <div style="line-height: 100%;">
        <p>Total Yellow Chiwogs: {{ yellowChiwogs.length }}</p>
        <li *ngFor="let chiwog of yellowChiwogs" style="text-transform: capitalize;" >
           {{ transformChiwogName(chiwog) }}
        </li>
      </div>
      
    </div> -->


    <div style="display: flex; align-items: center; flex-direction: column; flex-wrap: wrap; margin-top: 10%; cursor: pointer;">
      <button class="download-kml" (click)="downloadKml()">
        Download Red Buildings as KML
      </button>

      <button class="download-kml" (click)="downloadZoneKml()">
        Download Zones as Geojson   
      </button>

    </div>
    <div class="search-dzongkhag-container">
      <div class="select-dropdown">
        <select class="custom-select" [(ngModel)]="searchDzongkhagId">
          <option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id"> {{ dzongkhag.name }} </option>
        </select>
      </div>

      <div class="search-container" (click)="renderCasebyDzongkhag()">
        <img src="../../assets/search.png" alt="" style="height: 30px;">
      </div>

    </div>
  
    <div *ngIf="showBuildingInfo" class="buildingDetails">

      <div class="caseDetails">
        <p style="font-weight: 400; font-size: large;">
          Case History
        </p>
        <div style="
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: center;
              width: 95%;
        ">
          <div class="caseCard" *ngFor="let case of redBuildingCases">
            <p>
              Date Recorded: <span>{{ parseDate(case.date) }}</span>
            </p>
            <p>
              Cases: <span style="font-size: x-large; margin:0;">{{ case.numCases }}</span>
            </p>
            <p style="word-break: break-all;">
              Remarks:{{ case.remarks }}
            </p>
            <h4 *ngIf="case.status === 'ACTIVE'" style="color: #DE3262;">
              Status: Active
            </h4>
            <p *ngIf="case.status === 'INACTIVE'" style="color: gray;">
              Status: Active
            </p>
          </div>

        </div>
      </div>

      <div>
        <p style="font-weight: 400; font-size: large;">
          Building Details
        </p>
        <span style="font-weight:lighter; font-size:smaller">
          ** These data are based on the data collected on March 2021.
        </span>
        <table style="width:100%;">
          <tr>
            <th class="table-header">Building ID</th>
            <td>{{buildingId}}</td>
          </tr>
          <tr>
            <th class="table-header">Building Use</th>
            <td>{{buildingUse}}</td>
          </tr>
          <p>
            Owner Details
          </p>
          <tr>
            <th class="table-header">Name</th>
            <td>{{nameOfBuildingOwner}}</td>
          </tr>
          <tr>
            <th class="table-header">Contact</th>
            <td>{{contactOwner}}</td>
          </tr>
          <tr>
            <th class="table-header">Total Units</th>
            <td>{{length}}</td>
          </tr>
        </table>
      </div>

      <div style="margin-top: 5%;">
        <p style="font-weight: 400; font-size: large;">
          Building Images
        </p>
        <div style="display: flex; flex-direction: row;justify-content: center; flex-wrap: wrap;" *ngIf="imgs.length" >
          <mat-list-item *ngFor="let image of imgs">
            <img src="https://zhichar.ddnsfree.com/hh/{{image.uri}}" style="width: 250px; margin: 3px;">
          </mat-list-item>
        </div>
        <div *ngIf="!imgs.length">
          <p>
            No images found in zhichar database!
          </p>
        </div>


        <div *ngIf="unitDetailShow" class="unitDIV">
      
          <p style="font-weight: 400; font-size: large;">
            Building Units 
          </p>

          <div *ngIf="unitsData.length">
            <table mat-table [dataSource]="unitsData">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Unit ID </th>
                <td mat-cell *matCellDef="let element"> {{element.unitId}} </td>
              </ng-container>
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> View Details </th>
                <td mat-cell *matCellDef="let element" (click)=showResident(element.id)> view </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
            </table>
          </div>

          <div *ngIf="!unitsData.length">
            <p>
              No Units found in zhichar database!
            </p>
          </div>
    
    
        </div>

        <div *ngIf="residentTableShow">
          <h3> Household Details</h3>
    
      
          <p>Details of the Head of the Household</p>
    
          <table style="width:100%;">
            <tr>
              <th>Unit ID</th>
              <td>{{housholdsData.unitId}}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td>{{housholdsData.name}}</td>
            </tr>
            <tr>
              <th>CID</th>
              <td>{{housholdsData.cid}}</td>
            </tr>
            <tr>
              <th>Age</th>
              <td>{{housholdsData.age}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{housholdsData.gender}}</td>
            </tr>
            <tr>
              <th>Occupation</th>
              <td>{{housholdsData.employment}}</td>
            </tr>
            <tr>
              <th>Working Agency</th>
              <td>{{housholdsData.employmentOrg}}</td>
            </tr>
            <tr>
              <th>Working Zone</th>
              <td>{{housholdsData.workzone}}</td>
            </tr>
          </table>
  
    
            <table *ngIf="officeShopDetailShow">
              <tr>
                <th>Unit Name</th>
                <td>{{housholdsData.shopOfficeName !== undefined ?housholdsData.shopOfficeName:''}}</td>
              </tr>
              <tr>
                <th>Contact</th>
                <td>{{housholdsData.shopOfficeContact!== undefined ? housholdsData.shopOfficeContact: ''}}</td>
              </tr>
              <tr>
                <th>Rent</th>
                <td>{{housholdsData.shopOfficeRent!== undefined ?housholdsData.shopOfficeRent:''}}</td>
              </tr>
            </table> 
        </div>
      
        <div *ngIf="residentTableShow">
          Family Member Details
    
          <table style="width:100%;">
            <tr>
              <th>CID/Work Permit</th>
              <th>Age/Gender</th>
              <th>Occupation</th>
            </tr>
            <tr *ngFor="let member of familyMembers">
              <td>{{member.idNumber? member.idNumber: "-"}}</td>
              <td>{{ member.age}} {{member.gender}}</td>
              <td>{{member.occupation?member.occupation : "-" }}</td>
            </tr>
          </table>
        </div>
      </div>




      <div>

      </div>
    </div>
  </div>

</div>