<div class="form-wraper" style="text-align:center">

    <h1>
        Add Red Building Case Details
    </h1>

    <form [formGroup]="addNewRedCase">
      <mat-form-field appearance="fill" class="justifier">
        <mat-label> Date Detected</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date"  required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  

      <mat-form-field class="justifier">
        <mat-label>Case Name</mat-label>
        <input matInput type="text" formControlName="case_id" required >
      </mat-form-field>


      <mat-form-field class="justifier">
        <mat-label>Number of Cases</mat-label>
        <input matInput type="number" formControlName="numCases" required >
      </mat-form-field>

      <mat-form-field class="justifier">
        <mat-label>Case Contact/Other Details</mat-label>
        <input matInput type="text" formControlName="remarks" required >
      </mat-form-field>
  
    </form>
  
  </div>
  <div class="form-footer">
    <button mat-flat-button class="btn custom-btn" (click)="submit()" color="primary">
      <mat-icon>note_add</mat-icon> Add Red Building CaseDetails
    </button>
  </div>