.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 112px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.menu-spacer {
  flex: 1 1 auto;
}

.btnStyle {
  cursor:pointer;
  background-color: #4D90FE;
  border-radius: 15px;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  color: #FFFFFF;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  width:28%
}
