
<div class="form-wraper" style="text-align:center">

        <h3>Mark Selected Building as Red building?</h3>

        <h1>
            Latitude: {{ data.lat }}
        </h1>
        <h1>
            Longitude: {{ data.lng }}
        </h1>
        <h1>
            Structure ID: {{ data.structure_id }}
        </h1>
         <!-- Start of Building Form-->
         <form [formGroup]="createRedBuildingForm">
          <mat-form-field appearance="fill" class="justifier">
            <mat-label> Date Detected</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateDetection" [max]="today" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
            <mat-form-field class="justifier">
                <mat-label>Case Details/Remarks/NA</mat-label>
                <input matInput type="text"   formControlName="remarks"   required autofocus>
            </mat-form-field>
            <mat-form-field class="justifier">
              <mat-label>Red Flat or Red Building?</mat-label>
              <mat-select    formControlName="type"  >
                <mat-option  value="FLAT">
                 RED FLAT
                </mat-option>
                <mat-option  value="BUILDING">
                  RED BUILDING
                 </mat-option>
              </mat-select>
            </mat-form-field>


        </form>
    
      </div>
      <div class="form-footer">

        <div>
          <button mat-flat-button class="btn custom-btn" (click)="submit()" color="primary" >
            <mat-icon>note_add</mat-icon> Mark Red Building
          </button>
        </div>
  </div>