<div class="main-container">

    <div class="intro">
       
            <img src="../../assets/app-logo.png"  class="logo" alt="">
            <h1>
                Zhichar | གཞིས འཆར།།
            </h1>
    </div>

    <div class="apps-container">
        <div class="app" (click)="goToHHSurveyDashboard()">
           <!-- <h2 class="title" (click)="goToHHSurveyDashboard()"> -->
           <h2 class="title" >

             Household  Data Dashboard
           </h2>
           <p class="description">
            This is the viewing dashboard for the Household Data collected by the department of Human Settlement 
            for 46 Yenlag Thromdes on March of 2021.
           </p>
        </div>
        <div class="app" (click)="goToRedBuildingDashboard()">
            <h2 class="title">
                Red Building Dashboard
               </h2>
               <p class="description">
                Red Buildings marked and updated as and when new cases arrive
               </p>
        </div>
        <div class="app" (click)="goToNationalOutbreakPhasingDashboard()" style="text-align: center;">
            <h2 class="title">
                National Covid 19 Outbreak Phasing Map
               </h2>
               <p class="description">
               Phasing maps by dzongkhag 
               </p>
        </div>
    </div>

    <!-- <div>
        <p>
        Developed by the National Zoning TaskForce with assistance from Department of Human Settlements, MoWHS.

        </p>
    </div> -->

</div>
