<div class="main" sty>
  <div class="map-container">
    <div class="map-frame">
      <div id="map">
        <div class="leaflet-top leaflet-right">
        </div>
      </div>
    </div>

  </div>
  <div class="scroll" style="margin: 0;">
    <h3 style="text-align: center;">Admin Dashboard</h3>

    <!-- <div class= "seem" style="width: 100%;display: flex; flex-direction:column;">
            <button mat-raised-button (click)="toggleAdd()" color="primary">
              <mat-icon>add</mat-icon>
              <mat-label>Add Buildings</mat-label>
            </button>
            <br><br>
            <mat-divider></mat-divider>
            <br>
        <form  [formGroup]="searchForm">
          <mat-form-field style="width: 90%;">
            <input matInput type="number" placeholder="Search by building number" name="search" formControlName="searchBuilding"  >
          </mat-form-field>
  
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button mat-flat-button color="primary" (click)="submit()" style="width : 10%;"><mat-icon appearance="none">search</mat-icon></button>
            <button  mat-flat-button color="primary" style="width:fit-content;" (click) = "reset()" >Clear  | <mat-icon appearance="none">cached</mat-icon></button>
          </div>
          
        </form>
      </div> -->
    <br>
    <form [formGroup]="zoneForm" style="padding: 0%;margin: 0%;display: flex;flex-direction: row;">
      <mat-form-field class="justifier" style="padding: 0%;margin-left:5px;">
        <mat-label>Dzongkhag</mat-label>
        <mat-select #dzongkhag formControlName="dzongkhagControl" name="dzongkhag"
          (selectionChange)="getZoneList(dzongkhag.value.id)" required>
          <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag">
            {{dzongkhag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="justifier" style="padding: 0%;margin-left: 5px;">
        <mat-label>Thromdes</mat-label>
        <mat-select #zone formControlName="zoneControl" name="zone" (selectionChange)="getSubzoneList(zone.value)">
          <mat-option *ngFor="let zone of zones" [value]="zone.id">
            {{zone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="justifier " style="padding: 0%;margin-left: 5px;">
        <mat-label>Zones</mat-label>
        <mat-select formControlName="subZoneControl" name="subZone">
          <mat-option *ngFor="let subZone of subZones" [value]="subZone.id">
            {{subZone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-left:10px;">
        <button mat-flat-button (click)="zoneSearch()"
          style="padding:5px;padding-left: 10px;padding-right: 10px; background: green;color: white;">Load Data</button>
      </div>
    </form>

    <!-- lat lng field -->
    <h4 style="margin-bottom: 5px;">Go To Lat Lng point</h4>
    <form [formGroup]="xyForm" style="margin: 0px; display: flex; flex-direction: row;">
      <mat-form-field class="justifier" style="margin-left:5px;">
        <input matInput type="number" placeholder="Latitude" class="form-input" name="lat" formControlName="lat">
      </mat-form-field>
      <mat-form-field class="justifier" style="margin-left:5px;">
        <input matInput type="number" placeholder="Longitude" class="form-input" name="lng" formControlName="lng">
      </mat-form-field>
      <div style="margin-left: 5px;">
        <button *ngIf="xyCircle == undefined" mat-flat-button (click)="goToXY()"
          style="color:white;background-color:green;padding:5px;padding-left:10px;padding-right: 10px;">Go to
          XY</button>
        <button *ngIf="xyCircle !== undefined" mat-flat-button (click)="clearXY()"
          style="color: white; background-color:red;padding:5px;padding-left: 10px;padding-right: 10px;">Clear</button>

      </div>
    </form>


    <div style="width:100%; margin-bottom: 5px;">
      <h4 style="margin-bottom:2px;">Structure Controls</h4>
      <button *ngIf="!isAddAllowed" mat-raised-button (click)="toggleAdd()" color="primary">
        <mat-icon>add</mat-icon>
        <mat-label>Add Buildings</mat-label>
      </button>

      <button *ngIf="isAddAllowed" mat-raised-button (click)="cancelAdd()" style="background-color: red;">
        <mat-label>Cancel Add Building</mat-label>
      </button>
    </div>

    <br>
    <button style="margin-right: 10px;" mat-flat-button color="primary" (click)=markStructureAsRedBuilding()
      [disabled]="selectedStructure == null"> Mark as Red Building </button>

    <div *ngIf="selectedRedBuilding">
      <h4 style="margin-bottom:2px;">Red Building Details</h4>
      <div style="display: flex; gap:10px; flex-wrap: wrap;">
        <button [disabled]="selectedRedBuilding == null" style="margin-right:10px;" mat-flat-button color="primary"
          (click)=editRedBuildingDetails(selectedRedBuilding.id)>Edit Red Building Status</button>
        <button [disabled]="selectedRedBuilding == null" style="margin-right:10px;" mat-flat-button color="primary"
          (click)=addNewCase()> Register New Case</button>
        <button [disabled]="selectedRedBuilding == null" style="margin-right:10px;" mat-flat-button color="primary"
          (click)=addRedFlat()> Register New Red Flat</button>
      </div>


      <br style="margin-top: 8rem;">

      <h2 style="text-align: center; font-size: large; font-weight: bold;">Case Details</h2>
      <h2 style="text-align: center; font-size: large; font-weight: bolder;color: brown;">Type Specified: {{ selectedRedBuilding.type }} </h2>
      <h2 style="text-align: center; font-size: large; font-weight: bolder;color: brown;" *ngIf="selectedRedBuilding.status == 'ACTIVE'">Status: {{ selectedRedBuilding.status }} </h2>
      <h2 style="text-align: center; font-size: large; font-weight: bolder;color: rgb(28, 138, 101);"  *ngIf="selectedRedBuilding.status == 'INACTIVE'">Status: RECOVERED/RELEASED </h2>
      <div style="
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            width: 95%;
            margin-top: 10px;"
            *ngIf="redBuildingCases.length"
        >
        <h2 style="color:cadetblue; font-size: large;">Cases Registered</h2>
        <div class="caseCard" *ngFor="let case of redBuildingCases">
          
          <p>
            Id: {{ case.id }}
          </p>

         
          <p style="word-break: break-all;">
            Case Name: {{ case.case_id }}
          </p>
          <p style="word-break: break-all;">
           Contact Details: {{ case.remarks }}
          </p>
          <p style="color: red; font-weight: 700;" *ngIf="case.status == 'ACTIVE'">
            Status: {{case.status  }}
          </p>
          <p style="color: rgb(58, 182, 130); font-weight: 700;"  *ngIf="case.status == 'INACTIVE'">
           Status: Recovered & Lifted
         </p>
          <p>
            Numbers: <span style="font-size: x-large; margin:0;"> {{ case.numCases }} </span>
          </p>
          <p>
            Detected on Date: <span> {{ parseDate(case.date) }}</span>
          </p>
          <button (click)="editRedCase(case)" style="background-color: cadetblue;padding: 5px; color: aliceblue; border-radius: 5px;">
            Edit Case 
          </button>
        
        </div>


      </div>
      <div style="
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: 95%;
      margin-top: 10px;
      "
        *ngIf="redflats.length"
      >
        <h2 style="color:rgb(182, 37, 37); font-size: large;">Red Flats Registered</h2>
        <div class="caseCard" *ngFor="let flat of redflats">
         <p>
           Unit Name: {{flat.unitName  }}
         </p>
         <p style="color: red; font-weight: 700;" *ngIf="flat.status == 'ACTIVE'">
           Status: {{flat.status  }}
         </p>
         <p style="color: rgb(58, 182, 130); font-weight: 700;"  *ngIf="flat.status == 'INACTIVE'">
          Status: Recovered & Lifted
        </p>
         <p>
           Case Name: {{flat.hh_name  }}
         </p>
         <p>
           Case Contact: {{flat.contact  }}
         </p>
         <p>
           Case CID: {{flat.cid  }}
         </p>
         <p>
           Seal Date: {{flat.first_seal_date  }}
         </p>

         <button (click)="editRedFlat(flat)" style="background-color: cadetblue;padding: 5px; color: aliceblue; border-radius: 5px;">
          Edit Red Flat 
        </button>
        </div>


      </div>
    </div>



<br style="margin-top: 4rem;">
<br>
   

    <div *ngIf="showBuildingInfo">
      <h3>Building Details</h3>
      <br>
      <table style="width:100%;">
        <tr>
          <th>Building ID</th>
          <td>{{buildingId}}</td>
        </tr>
        <tr>
          <th>Building Use</th>
          <td>{{buildingUse}}</td>
        </tr>
        Owner Details
        <tr>
          <th>CID</th>
          <td>{{cidOwner}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{nameOfBuildingOwner}}</td>
        </tr>
        <tr>
          <th>Contact</th>
          <td>{{contactOwner}}</td>
        </tr>
        <tr>
          <th>Total Units</th>
          <td>{{length}}</td>
        </tr>
      </table>

      <!-- <button  mat-flat-button color="primary" (click)=deleteBuildingInfo();>Delete Building Information</button> -->
      <br>
    </div>
    <br>
    <br>


    <div *ngIf="unitDetailShow" class="unitDIV">
      <h3> Unit Details</h3>
      <table mat-table [dataSource]="unitsData" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Unit ID </th>
          <td mat-cell *matCellDef="let element"> {{element.unitId}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Occupancy Status </th>
          <td mat-cell *matCellDef="let element"> {{element.unitStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Head of the Household </th>
          <td mat-cell *matCellDef="let element"> {{element.unitUse}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Families Sharing</th>
          <td mat-cell *matCellDef="let element"> {{element.familiesSharing}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> View Details </th>
          <td mat-cell *matCellDef="let element" (click)=showResident(element.id)> view </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <!-- <td mat-cell *matCellDef="let element" (click)=updateUnit(element.id)> Update </td> -->
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <!-- <td mat-cell *matCellDef="let element" (click)=deleteUnit(element.id)> Delete </td> -->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
      </table>


    </div>

    <div *ngIf="residentTableShow">
      <h3> Household Details</h3>

      <!-- <p>Enumerated By: <strong>{{enumeratedBy}}</strong></p> -->

      <p>Details of the Head of the Household</p>

      <table style="width:100%;">

        <tr>
          <th>Unit ID</th>
          <td>{{housholdsData.unitId}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{housholdsData.name}}</td>
        </tr>
        <tr>
          <th>CID</th>
          <td>{{housholdsData.cid}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{housholdsData.age}}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{housholdsData.gender}}</td>
        </tr>
        <tr>
          <th>Occupation</th>
          <td>{{housholdsData.employment}}</td>
        </tr>
        <tr>
          <th>Working Agency</th>
          <td>{{housholdsData.employmentOrg}}</td>
        </tr>
        <tr>
          <th>Working Zone</th>
          <td>{{housholdsData.workzone}}</td>
        </tr>

        <br>
        <tr>
          <th>Tested in past 2 weeks?</th>
          <td>{{housholdsData.covid_test_status? 'Tested': 'No'}}</td>
        </tr>
        <tr>
          <th>Vacinnated? </th>
          <td>{{housholdsData.vaccine_status? 'Vacinnated' : 'No'}}</td>
        </tr>
        <tr>
          <th>Most Active?</th>
          <td>{{housholdsData.most_active? "Yes" : "No"}}</td>
        </tr>

      </table>

      <!-- <table *ngIf="residentialUnitDetailShow">
          <tr>
            <th>Head of household</th>
            <td>{{housholdsData.name!== undefined ? housholdsData.name: ''}}</td>
          </tr>
          <tr>
            <th>CID of household</th>
            <td>{{housholdsData.cid!== undefined ? housholdsData.cid: ''}}</td>
          </tr>
          <tr>
            <th>Number of Family Members</th>
            <td>{{housholdsData.numberHousehold !== undefined ? housholdsData.numberHousehold: ''}}</td>
          </tr>
          <tr>
            <th>Number of Income Earner</th>
            <td>{{housholdsData.incomeEarner!== undefined ? housholdsData.incomeEarner: ''}}</td>
          </tr>
          <tr>
            <th>Household Income</th>
            <td>{{housholdsData.householdIncome!== undefined ? housholdsData.householdIncome: ''}}</td>
          </tr>
        </table>
  
          
        <table *ngIf="officeShopDetailShow">
          <tr>
            <th>Unit Name</th>
            <td>{{housholdsData.shopOfficeName !== undefined ?housholdsData.shopOfficeName:''}}</td>
          </tr>
          <tr>
            <th>Contact</th>
            <td>{{housholdsData.shopOfficeContact!== undefined ? housholdsData.shopOfficeContact: ''}}</td>
          </tr>
          <tr>
            <th>Rent</th>
            <td>{{housholdsData.shopOfficeRent!== undefined ?housholdsData.shopOfficeRent:''}}</td>
          </tr>
        </table> -->
    </div>
    <br>

    <div *ngIf="residentTableShow">
      Family Member Details

      <table style="width:100%;">
        <tr>
          <th>CID/Work Permit</th>
          <th>Name</th>
          <th>Age/Gender</th>
          <th>Occupation</th>
          <th>Tested in past two weeks?</th>
          <th>Vaccinated?</th>
          <th>Most Active?</th>
        </tr>
        <tr *ngFor="let member of familyMembers">
          <td>{{member.idNumber}}</td>
          <td>{{member.name}}</td>
          <td>{{ member.age}} {{member.gender}}</td>
          <td>{{member.occupation }} {{ member.workplace? "at " + member.workplace : "" }}</td>
          <td>{{member.covid_test_status ? "Tested": "No"}}</td>
          <td>{{member.vaccine_status ? "Vaccinated " : "No"}}</td>
          <td>{{member.most_active ? "Yes" : "No"}}</td>
        </tr>
      </table>
    </div>
    <br>

    <div style="display: flex; flex-direction: row;flex-wrap: wrap;">
      <mat-list-item *ngFor="let image of imgs">
        <img src="https://zhichar.ddnsfree.com/hh/{{image.uri}}" style="width: 250px; margin: 3px;">

      </mat-list-item>
      <!-- <mat-grid-list cols="2" rowHeight="2:1" *ngFor="let image of imgs">
          <mat-grid-tile> <img src="https://zhichar.ddnsfree.com/hh/{{image.uri}}" style="width: 250px; margin: 3px;"></mat-grid-tile>
         
        </mat-grid-list> -->

    </div>
  </div>

</div>