<mat-toolbar>
  <span>Select Dzongkhag</span>
</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
    </div>
    <div class="form-body">
      <form [formGroup]="zoneForm">
        <mat-form-field class="justifier">
          <mat-label>Dzongkhag</mat-label>
          <mat-select #dzongkhag formControlName="dzongkhagControl" name="dzongkhag" required>
            <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">
              {{dzongkhag.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="redirectToDashboard()" color="primary" [disabled]="!zoneForm.valid">
        <mat-icon>arrow_forward</mat-icon> Proceed
      </button>
    </div>
  </div>
</div>

