<p>public-home works!</p>
<div>
    <h2>
        What is a Red Flat?
    </h2>
    <p>
        The residential apartment or flat in a building from where COVID-19 positive cases are detected is classified as a Red Flats.
    </p>


    <h3>
        SEALING OF RED FLATS
    </h3>
    <p>
       
Only Red Flats in the building will be sealed Based on the approval received from RBP, De-suups will do the sealing.
De-suups will visit and monitor to ensure the seal is not broken
Sealing will be for a minimum 10 days
    </p>
</div>