
<div class="main-container" >
    <div style="background:#3f51b5;color:white;font-weight: bold;text-align: center;padding:20px;">
        Zhichar | Public
    </div>
    <div class="card" style="color:#9c9c9c;margin-top:10px; margin-left: 10px; margin-right: 10px;padding:  5px 10px 5px 10px;">
        <h4>
            <span style="font-weight: bold; color: #545252;">
                Building Number:
            </span>
             {{structureId}} | 
            <span style="font-weight: bold; color: #545252;">
                Subzone:
            </span>
              {{subzone}}
        </h4>
        <h4>
            <span style="font-weight: bold; color: #545252;">
                Latitude:
            </span>
            {{lat}}
        <span style="font-weight: bold; color: #545252;">
                Longitude:
            </span>
            {{lng}}
        </h4>
    </div>

    <div class="card" style="margin-top:10px; margin-left: 10px; margin-right: 10px;padding:  5px 10px 5px 10px;">
        <h2 style="color: gray;" class="image-full">
            Notice
        </h2>
        <div  [innerHTML]="content | safeHtml" class="content"></div>
    </div>
    <div class="card" style="margin-top:10px; margin-left: 10px; margin-right: 10px;padding:  5px 10px 5px 10px;">
        <h3 style="color: gray;">
            Emergency Contacts
        </h3>
        <div>
            <h4>Desuup Contacts</h4>
            <ul>
                <li *ngFor="let item of filterContacts(contacts,'desuup')">
                        {{item.name}} (contact# {{item.contact}})
                </li>
            </ul>
            <h4>Health Contacts</h4>
            <ul>
                <li *ngFor="let item of filterContacts(contacts,'health')">
                        {{item.name}} (contact# {{item.contact}})
                </li>
            </ul>
        </div>
    </div>
</div>