<div class="main-container">

   

    <div class="stats-container">
        <div style="display: flex; justify-content: space-between;width: 100%;">
            <h2 style="text-align: center;color: #C5C4B7;font-size: xx-large;margin: 1rem 0;font-weight: 300;">
                Welcome to Zhichar | གཞིས འཆར།།
             </h2>
             <a href="/login" style="text-align: center;color: #C5C4B7;font-size: large;margin: 1rem 0;font-weight: 500;">
                 login
             </a>
        </div>

        <div class="row-1">
            <div class="stat-card">

                <div style="text-align: left;display: flex;flex-direction: column;justify-content: space-between;">
                   <div>
                    <h2 class="stats-figure">
                        132 <span>Today</span>
                    </h2>
                    <h2 class="stats-figure">
                        {{ cumulativeStatistics.totalActiveRedBuildings }} <span>Total</span>
                    </h2>

                    <div class="stat-minibarchart">
                        <div class="stats-bars" style="height: 33%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 40%;">
                            <p></p> 
                        </div>
                        <div class="stats-bar" style="height: 50%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 70%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height:80%">
                            <p  aria-labelledby="label"></p>
                        </div>
                        <div class="stats-bar" style="height: 22%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 42%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 72%;">
                            <p></p>
                        </div>
                    </div>
                    <p class="stats-description" >
                        (Trend  past seven days)
                    </p>
                    <h1 class="stats-card-title">
                        Red Buildings
                        <br>
                    </h1>
                   </div>
                   <div>
                    <p  class="stats-description" >
                        Red buildings refer to Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, molestias
                        <br>
                        <br>
                        You can see the active buildings declared today, the cumulative active buildings and the trend line over the past week.
                    </p>
                   </div>
                </div>
            </div>

            <div class="stat-card">

                <div style="text-align: left;display: flex;flex-direction: column;justify-content: space-between;">
                   <div>
                    <h2 class="stats-figure">
                        132 <span>Today</span>
                    </h2>
                    <h2 class="stats-figure">
                        {{ cumulativeStatistics.totalActiveRedFlats }} <span>Total</span>
                    </h2>

                    <div class="stat-minibarchart">
                        <div class="stats-bars" style="height: 33%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 40%;">
                            <p></p> 
                        </div>
                        <div class="stats-bar" style="height: 50%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 70%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height:80%">
                            <p  aria-labelledby="label"></p>
                        </div>
                        <div class="stats-bar" style="height: 22%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 42%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 72%;">
                            <p></p>
                        </div>
                    </div>
                    <p class="stats-description" >
                        (Trend  past seven days)
                    </p>
                    <h1 class="stats-card-title">
                        Red Flats
                        <br>
                    </h1>
                   </div>
                   <div>
                    <p  class="stats-description" >
                        Red buildings refer to Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, molestias
                        <br>
                        <br>
                        You can see the active buildings declared today, the cumulative active buildings and the trend line over the past week.
                    </p>
                   </div>
                </div>
            </div>


            <div class="stat-card">

                <div style="text-align: left;display: flex;flex-direction: column;justify-content: space-between;">
                   <div>
                    <h2 class="stats-figure">
                        132 <span>Today</span>
                    </h2>
                    <h2 class="stats-figure">
                        {{ cumulativeStatistics.totalActiveRedClusters }} <span>Total</span>
                    </h2>

                    <div class="stat-minibarchart">
                        <div class="stats-bars" style="height: 33%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 40%;">
                            <p></p> 
                        </div>
                        <div class="stats-bar" style="height: 50%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 70%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height:80%">
                            <p  aria-labelledby="label"></p>
                        </div>
                        <div class="stats-bar" style="height: 22%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 42%;">
                            <p></p>
                        </div>
                        <div class="stats-bar" style="height: 72%;">
                            <p></p>
                        </div>
                    </div>
                    <p class="stats-description" >
                        (Trend  past seven days)
                    </p>
                    <h1 class="stats-card-title">
                        Red Clusters
                        <br>
                    </h1>
                   </div>
                   <div>
                    <p  class="stats-description" >
                        Red buildings refer to Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, molestias
                        <br>
                        <br>
                        You can see the active buildings declared today, the cumulative active buildings and the trend line over the past week.
                    </p>
                   </div>
                </div>
            </div>
        </div>
        <div class="row-2">
            
            <div class="megazonemaps" id="map">
            </div>
            <div class="megazonestats-container">
              <h2 style="margin-top: 20px;">
                Mega Zone Wise Statistics
              </h2>
                <div class="megazone-statcard-container">
                    <div *ngFor="let megazone of megaZoneStatistics" class="megazonestats-card">
                        <h2 class="megazone-name">
                            {{ megazone.name  }}
                        </h2>
                        <div style="display: flex;gap:2px;width: 100%;justify-content: space-between;">
                           <div class="flex-col-center">
                            <h4 class="megazone-stat">
                                {{megazone.activeBuildings  }}                  
                             </h4>
                             <p>
                               Red Buildings
                             </p>
                           </div>

                           <div class="flex-col-center">
                            <h4 class="megazone-stat">
                                {{megazone.activeFlats  }} 
                                </h4>   
                            <p>
                                Red Flats
                              </p>
                           </div>
                            
                            <div class="flex-col-center">
                                <h4 class="megazone-stat">
                                    3
                                </h4>
                                <p>
                                    Red Clusters
                                  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="footer">
            <div class="informations">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat possimus repudiandae mollitia, 
                quos fuga eum molestiae consectetur laudantium facilis animi nemo deserunt facere vitae consequatur 
                reprehenderit nihil sed velit nobis nisi. Cum quae doloribus, illo iusto accusantium odio deleniti 
                quasi debitis sunt odit unde est! Delectus ea quae non ratione sunt fuga dicta? Commodi, quae. Adipisci 
                perferendis doloribus sit, culpa blanditiis voluptas sunt fuga qui eum distinctio expedita necessitatibus 
                dolor natus aut inventore maiores ut mollitia alias deserunt! A modi cupiditate distinctio commodi eveniet
                 accusamus itaque minus molestiae sequi, consequuntur fugiat dicta sint omnis laboriosam ratione nisi, alias 
                 inventore! Illum quaerat sapiente tempore quam officia quo sequi ipsam iste cum, labore dicta mollitia quis, 
                 dolore earum. Ullam accusamus, molestias quasi expedita tempora architecto cumque. 
                Alias facilis obcaecati soluta possimus commodi fuga quisquam voluptates magni voluptatem nihil
                 impedit animi perspiciatis, beatae, tenetur corrupti dolor cumque asperiores dolore eius amet,
                  minus dignissimos rerum? Totam iusto doloribus cupiditate placeat dolores distinctio molestiae 
                  sed porro expedita modi inventore voluptates ab maxime omnis et est illo, ducimus non adipisci
                   dolorum. Accusantium unde ad perspiciatis? Laudantium commodi delectus sint soluta fuga facilis
                    iure inventore rerum vel necessitatibus doloribus quae voluptates, molestiae saepe, nihil omnis ut exercitationem.
            </div>
        </div> -->

    </div>

  

</div>