<div class="flex h-screen">

    <div class="w-7/12 h-full" >
        <div class="h-5/6 bg-blue-600 w-full flex">
            <div class="w-3/6 h-full">
                <img src="" alt="">
            </div>
            <div class="w-3/6 bg-white h-full text-blue-300">
                <h1 class="text-3xl font-bold">North Megazone</h1>
            </div>
        </div>
        <div class="h-1/6 bg-gray-500">
            Login Links
        </div>
    </div>
    <div class="w-5/12">
        <div class="flex gap-2 ">
            <div class="flex bg-red-500 w-1/3 flex-col items-center justify-center" style="height: 200px;">
                <h1 class="text-xl">Red buildings</h1>
                <h1 class="text-3xl">120</h1>
            </div>
            <div class="flex bg-green-600 w-1/3 flex-col items-center justify-center" style="height: 200px;">
                <h1 class="text-xl">Red Flats</h1>
                <h1 class="text-3xl">120</h1>
            </div>

            <div class="flex bg-blue-600 w-1/3 flex-col items-center justify-center" style="height: 200px;">
                <h1 class="text-xl">Red Clusters</h1>
                <h1 class="text-3xl">120</h1>
            </div>
        </div>
        <div class="flex flex-col items-center text-orange-600 " style="margin-top:1rem;">
            <h2 class=" text-2xl mt-20 font-semibold">Dessup Deployment Status</h2>
            <div class="flex gap-2 w-full text-white ">
                <div class="w-1/4 flex  flex-col justify-center items-center bg-orange-400 rounded-md" style="height: 200px;">
                    <h1 class="text-lg">
                        North Megazone
                    </h1>
                    <p>
                        Total: 56
                    </p>
                    <p>
                        Male: 43
                    </p>
                    <p>
                        Female: 14
                    </p>
                </div >
                <div class="w-1/4 flex  flex-col justify-center items-center bg-orange-400 rounded-md" style="height: 200px;">
                    <h1 class="text-lg">
                        C1 Megazone
                    </h1>
                    <p>
                        Total: 56
                    </p>
                    <p>
                        Male: 43
                    </p>
                    <p>
                        Female: 14
                    </p>
                </div>
                <div class="w-1/4 flex  flex-col justify-center items-center bg-orange-400 rounded-md" style="height: 200px;">
                    <h1 class="text-lg">
                        C2 Megazone
                    </h1>
                    <p>
                        Total: 56
                    </p>
                    <p>
                        Male: 43
                    </p>
                    <p>
                        Female: 14
                    </p>
                </div>
                <div class="w-1/4 flex  flex-col justify-center items-center bg-orange-400 rounded-md" style="height: 200px;">
                    <h1 class="text-lg">
                        South Megazone
                    </h1>
                    <p>
                        Total: 56
                    </p>
                    <p>
                        Male: 43
                    </p>
                    <p>
                        Female: 14
                    </p>
                </div>
            </div>
        </div>
        <div >
            <h2>Essential Services</h2>
           <div class="flex gap-2 flex-wrap justify-center">
            <div class="flex flex-col bg-red-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Essential Goods
                <p>
                    Dessung/1010
                </p>
                <p>
                    North: Chhungdu Tshering | 17582378
                </p>
                <p>
                    C1: Betu Tshering | 17584400
                </p>
                <p>
                    C2: Ngawang Namgyel | 17442378
                </p>
                <p>
                    South: Sangay Nidup | 17798754
                </p>
            </div>
            <div class="flex flex-col bg-red-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Medicals
            </div>
            <div class="flex flex-col bg-red-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Water
            </div>
            <div class="flex flex-col bg-blue-600 justify-center items-center rounded-md" style="width:150px;height:150px">
                Waste
            </div>
            <div class="flex flex-col bg-green-600 justify-center items-center rounded-md" style="width:150px;height:150px">
                Sewerage
            </div>
            <div class="flex flex-col bg-indigo-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Gas
            </div>
            <div class="flex flex-col bg-pink-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Telecommunication
            </div>
            <div class="flex flex-col bg-gray-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Power/Electricity
            </div>
            <div class="flex flex-col bg-gray-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                TV/Cable
            </div>
            <div class="flex flex-col bg-gray-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Epass
            </div>
            <div class="flex flex-col bg-gray-500 justify-center items-center rounded-md" style="width:150px;height:150px">
                Epass
            </div>
           </div>
        </div>
    </div>



</div>