<div class="form-wraper" style="text-align:center">

    <h1>
        Edit Red Flat Details
    </h1>

    <form [formGroup]="editRedFlat">
      <mat-form-field appearance="fill" class="justifier">
        <mat-label> Date Detected</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="first_seal_date"  required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  

      <mat-form-field class="justifier">
        <mat-label>Unit Name</mat-label>
        <input matInput type="text" formControlName="unitName" required >
      </mat-form-field>
      

      <mat-form-field class="justifier">
        <mat-label>Status</mat-label>
        <mat-select    formControlName="status"  >
          <mat-option  value="ACTIVE">
           ACTIVE
          </mat-option>
          <mat-option  value="INACTIVE">
            INACTIVE
           </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="justifier">
        <mat-label>Case Name</mat-label>
        <input matInput type="text" formControlName="hh_name" required >
      </mat-form-field>
  
  
      <mat-form-field class="justifier">
        <mat-label>Case Contact</mat-label>
        <input matInput type="text" formControlName="contact" required >
      </mat-form-field>
      <mat-form-field class="justifier">
        <mat-label>Case CID</mat-label>
        <input matInput type="text" formControlName="cid" required >
      </mat-form-field>
  
    </form>
  
  </div>
  <div class="form-footer">
    <button mat-flat-button class="btn custom-btn" (click)="submit()" color="primary">
      <mat-icon>note_add</mat-icon> Update Red Flat
    </button>
  </div>