<div class="form-container">
    <p>
        Unit Name
    </p>
    <input type="text" placeholder="Unit Name"  [(ngModel)]="redflat.unitName" class="custom-input">
    <p>
        Head of Household
    </p>
    <input type="text" placeholder="CID"  [(ngModel)]="redflat.cid" class="custom-input">
    <input type="text" placeholder="Head of household Name"  [(ngModel)]="redflat.hh_name" class="custom-input">
    <input type="text" placeholder="Contact"  [(ngModel)]="redflat.contact" class="custom-input">
    <p>
        Head of Household
    </p>
    <textarea type="text" rows="5" placeholder="Remarks"  [(ngModel)]="redflat.remarks" class="custom-input"></textarea> 

    
    <span>Seal Time</span>
    <input type="time"  [(ngModel)]="redflat.first_seal_time" class="custom-input" placeholder="Select Time">
    <span>
        Seal Date
    </span>
    <input type="date"  [(ngModel)]="redflat.first_seal_date" class="custom-input">
    <button (click)="editRedFlat()" type="submit" class="submit-btn">
        Submit Edits
    </button>
</div>