<!-- <div class="form-wraper">
  <div class="form-container card" (click)="redirect('map')" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        contacts
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Household Registration
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      register household information
    </div>
  </div>
</div> -->
<div class="form-wraper" *ngIf="units">
  <div class="form-container card" (click)="regHouse()" style="background-color: #f2f8f9;">
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
    Building ID: {{buildingId}}
    </div>
  </div>
</div>

<div class="form-wraper" *ngIf="units">
  <div class="form-container card" (click)="regHouse()" style="background-color: #f2f8f9;">
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
    Registered Units:
    <ul>
      <li *ngFor = "let unit of units">
        {{unit.unitNumber}}
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="form-wraper">
  <div class="form-container card" (click)="regHouse()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        home
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
     Register Building 
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Enter Bulding Information
    </div>
  </div>
</div>

<div class="form-wraper">
  <div class="form-container card" (click)="unit()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        book
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
     Register Unit 
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Enter Unit Information
    </div>
  </div>
</div>

<div class="form-wraper">
  <div class="form-container card" (click)="gotocamera()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        camera
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Take Picture of Building
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Take Picture of Building
    </div>
  </div>
</div>
<div class="form-wraper">
  <div class="form-container card" (click)="markcomplete()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        done_outline
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Mark Building as Complete 
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Make sure all the unit registration is complete before marking building as complete
    </div>
  </div>
</div>

<div class="form-wraper">
  <div class="form-container card" (click)="markcomplete()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        done_outline
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Mark Building as Complete 
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Make sure all the unit registration is complete before marking building as complete
    </div>
  </div>
</div>

<div class="form-wraper">
  <div class="form-container card" (click)="goback()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        arrow_left
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Go back to map
    </div>
  </div>
</div>
<!-- <div class="form-wraper">
  <div class="form-container card" (click)="update()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        update
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Update details
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Update holdhold details
    </div>
  </div>
</div> -->
