<div class="main-container">
    <div class="welcome-container">
        <p style="text-align: center;font-size:large;font-weight: 100;margin-top: 1rem;">
            འབྱོན་པ ལེགས་སོ།། | {{ subZoneName  }}
            <br>
            
        </p>

    </div>
    <div class="statistics-container">
        <div class="statistics-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="statistics-icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z"
                    clip-rule="evenodd" />
            </svg>
            {{totalActiveRedBuildings  }} Active Red buildings
        </div>
        <div class="statistics-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="statistics-icon" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                <path fill-rule="evenodd"
                    d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                    clip-rule="evenodd" />
            </svg>
           {{ totalActiveRedFlats }} Active Red Flats
        </div>
        <!-- <div class="statistics-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="statistics-icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd" />
            </svg>
            0 Red Clusters
        </div> -->
        <div style="display: flex; justify-content: center;margin: 10px;">
            <button class="submit-btn" (click)="viewMap()">View on Map</button>
        </div>
    </div>
 
    <div class="newredbuilding-container">     
        <p  class="title"> Newly Identified Red Buildings</p>
        <div class="newredbuilding-cards-container">
            <div class="newredbuilding-card" *ngFor="let redBuilding of inProgressRedbuildings">
                <div style="width: 70%;">
                    <p>
                        Building ID: {{redBuilding.structure_id  }}
                    </p>
                    <p>
                        <br>
                       Owner Name: {{redBuilding.ownerName  }}
                        <br>
                       Owner Contact: {{redBuilding.ownerContact  }}
                    </p>
                </div>

                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(redBuilding.structure_id,redBuilding.id )" class="view-btn">
                        View Details
                    </button>
                  
                    <p  style="margin-top: .5rem;">
                        Cordoned on <br> {{redBuilding.cordonDate  }}
                    </p>
                </div>
            </div>  
        </div>
       
    </div> 
    <div class="redbuilding-container">     
        <p  class="title"> Red Buildings</p>
        <div class="redbuilding-cards-container">
            <div class="redbuilding-card" *ngFor="let redBuilding of redBuildings">
                <div style="width: 70%;">
                    <p>
                        Building ID: {{redBuilding.structure_id  }}
                    </p>
                    <p>
                      
                        <br>
                       Owner Name: {{redBuilding.ownerName  }}
                        <br>
                       Owner Contact: {{redBuilding.ownerContact  }}
                    </p>
                </div>

                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(redBuilding.structure_id,redBuilding.id )" class="view-btn">
                        View Details
                    </button>
                  
                    <p  style="margin-top: .5rem;">
                        Cordoned on <br> {{redBuilding.cordonDate  }}
                    </p>
                </div>
            </div>  
        </div>
       
    </div>
    
    <!-- <div class="newredbuilding-container">     
        <p  class="title">New Red Buildings</p>
        <div class="newredbuilding-cards-container">
            <div class="newredbuilding-card">
                <div style="width: 70%;">
                    <p>
                        Building ID: 2001
                    </p>
                    <p>
                        Building Owner Details
                        <br>
                        Name: Nima Yoezer Tenzin 
                        <br>
                        Contact: 1772873
                    </p>
                </div>
                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(12)" class="view-btn">
                        View Details
                    </button>
                </div>
            </div>
            <div class="newredbuilding-card">
                <div style="width: 70%;">
                    <p>
                        Building ID: 2001
                    </p>
                    <p>
                        Building Owner Details
                        <br>
                        Name: Nima Yoezer Tenzin 
                        <br>
                        Contact: 1772873
                    </p>
                </div>
                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(12)" class="view-btn">
                        View Details
                    </button>
                </div>
            </div>
            <div class="newredbuilding-card">
                <div style="width: 70%;">
                    <p>
                        Building ID: 2001
                    </p>
                    <p>
                        Building Owner Details
                        <br>
                        Name: Nima Yoezer Tenzin 
                        <br>
                        Contact: 1772873
                    </p>
                </div>
                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(12)" class="view-btn">
                        View Details
                    </button>
                </div>
            </div>
            <div class="newredbuilding-card">
                <div style="width: 70%;">
                    <p>
                        Building ID: 2001
                    </p>
                    <p>
                        Building Owner Details
                        <br>
                        Name: Nima Yoezer Tenzin 
                        <br>
                        Contact: 1772873
                    </p>
                </div>
                <div style=" height:100%;width: 30%; height: 100%;">
                    <button (click)="viewRedBuildingDetails(12)" class="view-btn">
                        View Details
                    </button>
                </div>
            </div>
  
        </div>
       
    </div> -->
   
</div>